body{
		background-image: linear-gradient(to right,#b1ff85 0%, #1f5700 100%);
}
h1{
	background: #015216;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}
ul{
	list-style: none;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}
li{
	background: white;
	height: 40px;
	line-height: 40px;
	color:#666;
}

li:nth-child(2n){
	background: #f7f7f7;
}
span{
	background: #e74c3c;
	height:40px;
	margin-right:40px ;
	text-align: center;
	color:white;
	width:0px;
display: inline-block;
transition : linear 0.2s;
opacity: 0;
}
li:hover span{
	width:40px;
	opacity: 1;
}
input{
	font-size:18px;
	background: #f7f7f7;
	width:100%;
	padding: 13px 20px;
	box-sizing: border-box;
	color: #015216;
	border: 2px solid #f7f7f7;
}
input:focus{
	border: 
	background:#fff;
	border: 2.5px solid #015216;
	outline: none;
}
.fa-plus{
	float: right;
}
#container{

	width:360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}